.account-settings-title {
    display: flex;
    gap: var(--space-4);
    align-items: center;
}

.account-settings-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.account-settings-table {
    border-collapse: separate;
    border-spacing: 20px 10px;
}

.account-settings-table-title {
    font-weight: var(--font-weight-semibold);
}

.account-invite-link {
    color: var(--color-primary);
}